<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>DevFolio Bootstrap Portfolio Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: DevFolio - v4.10.0
  * Template URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a href="{{ url_for('home') }}">DevFolio</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="{{ url_for('home') }}">Home</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <div class="hero hero-single route bg-image" style="background-image: url(assets/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4">Blog Details</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="{{ url_for('home') }}">Home</a>
            </li>
            <!--<li class="breadcrumb-item">
              <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item active">Data</li>-->
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Blog Single Section ======= -->
    <section class="blog-wrapper sect-pt4" id="blog">
      <div class="container">
        <div class="row">
          <div class="col-md-10">
            <div class="post-box">
              <div class="post-thumb">
                <img src="{{ url_for('static', filename='img/post-1.jpg') }}" class="img-fluid" alt="">
              </div>
              <div class="post-meta">
                <h1 class="article-title">My Journey to become a Data Analyst Part 1</h1>
                <ul>
                  <li>
                    <span class="bi bi-person"></span>
                    <a href="#">Fernanda Vargas</a>
                  </li>
                  <li>
                    <span class="bi bi-tag"></span>
                    <a href="#">Education</a>
                  </li>
                  <!--<li>
                    <span class="bi bi-chat-left-text"></span>
                    <a href="#">14</a>
                  </li>-->
                </ul>

              </div>

              <div class="article-content">
                <p>
                I was 17 years old when I decided to study for a bachelor’s degree in accounting,
                I had no idea what I wanted to study, but I am good with numbers, so I said, why not?
                Still, 17 years old is a young age to decide for the next 5 years or possibly the rest of your life
                what you want to do with your career.
                I finished and quickly realized that the work was so different from what they teach you at the university,
                so after 2 years, I was done with my accounting path!
                </p>
              <div class="post-thumb">
                <img src="{{ url_for('static', filename='img/img1-post.jpg') }}" class="img-fluid center" alt="">
              </div>
              <div>
                <h5 class="post-titles">Digital Marketing</h5>
              </div>
                <p>
                After that, I decided to open a retail business with a friend, and our sales were exclusively online,
                so digital marketing was a new concept in Mexico. Still, I took a community manager certificate at my university.
                I loved it; I liked the latest ideas, all the different industries, and different marketing approaches.
                </p>
                <p>
                I asked my community manager professor for a job, and I am very grateful to him because he believed in me
                and gave me an opportunity in his agency. But there are a lot of aspects of digital marketing,
                creating digital marketing campaigns, strategies, analyzing data, KPIs, creating content, etc.
                </p>
                <p>
                I learned a little bit of everything, but with my business background, I analyzed data and social media marketing campaigns.
                As time passed, I got involved in creating their digital marketing strategy, looking for some industry opportunities,
                and analyzing what their competition was doing. I like that the agency provided services from a gym to a
                that did furniture and houses with only recycled plastics. I learned a lot!
                </p>
                <!--<blockquote class="blockquote">
                  <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                </blockquote>-->
                <p>
                Until that moment, my life was indeed going for a digital marketing specialization, right?
                Well, an opportunity came to my life to study this specialization in Canada. One of my life dreams is to travel,
                so I took the opportunity to explore a similar profession here in Canada, and everything was ready.
                It was the year 2020. I had my flight in March, and … well, Covid appeared and ruined my plans.
                </p>
              <div class="post-thumb">
                <img src="https://media.giphy.com/media/d10dMmzqCYqQ0/giphy-downsized-large.gif" class="img-fluid center" alt="">
              </div>
                <h5 class="post-titles">Web Development</h5>
                <p>
                I had to wait another 2 years to be able to come to Canada, and when I arrived, I didn’t have a school anymore.
                I wasn’t sure about continuing on this path. Because in those two years of Covid, I helped many small businesses
                manage their business exclusively online. I did web development with WordPress, and making a web with WordPress is easy.
                Still, it is hard if you want to modify a small part of the web template if you don’t know anything about programming,
                so I did a lot of YouTube tutorials on JavaScript.
                </p>
                <p>
                When I arrived here in Canada, I researched the different digital marketing and web development programs.
                That was the first time I saw the term Data Analyst/ Data science, so I was curious and read more about what it involved in being a data analyst.
                But unfortunately, my love for data came slower than my love for digital marketing. So, I was cautious because
                if I decided to study data analysis, I would have to wait a year to learn in a college or university
                (the application dates for international students are very short, and you have to apply very early for the program).
                But I talked to people and friends in this field and decided to take a shot. And I am happy I did because while waiting to enter school,
                I took some courses that made me realize what I was passionate about all these years… <strong>DATA.</strong>
                </p>
              <div class="post-thumb">
                <img src="https://media.giphy.com/media/G1ifnX4d5tYFACktp9/giphy.gif" class="img-fluid center" alt="">
              </div>
                <h5 class="post-titles">Conclusion?</h5>
                <p>
                This was supposed to be a little introduction and talk about the courses I took for a year before
                entering school, so the following post is the helpful part… The courses I took that I considered the
                most important in my journey.
                </p>
                <p>
                  <a href="https://medium.com/@fernandavargas_39677/my-journey-to-become-a-data-analyst-part-2-760d2a61b864" target="_blank"><strong>PART 2</strong> </a>
                </p>

              </div>
            </div>
            <!--<div class="box-comments">
              <div class="title-box-2">
                <h4 class="title-comments title-left">Comments (34)</h4>
              </div>
              <ul class="list-comments">
                <li>
                  <div class="comment-avatar">
                    <img src="../static/img/testimonial-2.jpg" alt="">
                  </div>
                  <div class="comment-details">
                    <h4 class="comment-author">Oliver Colmenares</h4>
                    <span>18 Sep 2017</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                      ipsam temporibus maiores
                      quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis.
                    </p>
                    <a href="3">Reply</a>
                  </div>
                </li>
                <li>
                  <div class="comment-avatar">
                    <img src="../static/img/testimonial-4.jpg" alt="">
                  </div>
                  <div class="comment-details">
                    <h4 class="comment-author">Carmen Vegas</h4>
                    <span>18 Sep 2017</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                      ipsam temporibus maiores
                      quae natus libero optio, at qui beatae ducimus placeat debitis voluptates amet corporis,
                      veritatis deserunt.
                    </p>
                    <a href="3">Reply</a>
                  </div>
                </li>
                <li class="comment-children">
                  <div class="comment-avatar">
                    <img src="../static/img/testimonial-2.jpg" alt="">
                  </div>
                  <div class="comment-details">
                    <h4 class="comment-author">Oliver Colmenares</h4>
                    <span>18 Sep 2017</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                      ipsam temporibus maiores
                      quae.
                    </p>
                    <a href="3">Reply</a>
                  </div>
                </li>
                <li>
                  <div class="comment-avatar">
                    <img src="../static/img/testimonial-2.jpg" alt="">
                  </div>
                  <div class="comment-details">
                    <h4 class="comment-author">Oliver Colmenares</h4>
                    <span>18 Sep 2017</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores reprehenderit, provident cumque
                      ipsam temporibus maiores
                      quae natus libero optio.
                    </p>
                    <a href="3">Reply</a>
                  </div>
                </li>
              </ul>
            </div>
            <div class="form-comments">
              <div class="title-box-2">
                <h3 class="title-left">
                  Leave a Reply
                </h3>
              </div>
              <form class="form-mf">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="text" class="form-control input-mf" id="inputName" placeholder="Name *" required>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-group">
                      <input type="email" class="form-control input-mf" id="inputEmail1" placeholder="Email *" required>
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <input type="url" class="form-control input-mf" id="inputUrl" placeholder="Website">
                    </div>
                  </div>
                  <div class="col-md-12 mb-3">
                    <div class="form-group">
                      <textarea id="textMessage" class="form-control input-mf" placeholder="Comment *" name="message" cols="45" rows="8" required></textarea>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                  </div>
                </div>
              </form>
            </div>-->
          </div>
          <!--<div class="col-md-4">
            <div class="widget-sidebar sidebar-search">
              <h5 class="sidebar-title">Search</h5>
              <div class="sidebar-content">
                <form>
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." aria-label="Search for...">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary btn-search" type="button">
                        <span class="bi bi-search"></span>
                      </button>
                    </span>
                  </div>
                </form>
              </div>
            </div>
            <div class="widget-sidebar">
              <h5 class="sidebar-title">Recent Post</h5>
              <div class="sidebar-content">
                <ul class="list-sidebar">
                  <li>
                    <a href="#">Atque placeat maiores.</a>
                  </li>
                  <li>
                    <a href="#">Lorem ipsum dolor sit amet consectetur</a>
                  </li>
                  <li>
                    <a href="#">Nam quo autem exercitationem.</a>
                  </li>
                  <li>
                    <a href="#">Atque placeat maiores nam quo autem</a>
                  </li>
                  <li>
                    <a href="#">Nam quo autem exercitationem.</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-sidebar">
              <h5 class="sidebar-title">Archives</h5>
              <div class="sidebar-content">
                <ul class="list-sidebar">
                  <li>
                    <a href="#">September, 2017.</a>
                  </li>
                  <li>
                    <a href="#">April, 2017.</a>
                  </li>
                  <li>
                    <a href="#">Nam quo autem exercitationem.</a>
                  </li>
                  <li>
                    <a href="#">Atque placeat maiores nam quo autem</a>
                  </li>
                  <li>
                    <a href="#">Nam quo autem exercitationem.</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="widget-sidebar widget-tags">
              <h5 class="sidebar-title">Tags</h5>
              <div class="sidebar-content">
                <ul>
                  <li>
                    <a href="#">Web.</a>
                  </li>
                  <li>
                    <a href="#">Design.</a>
                  </li>
                  <li>
                    <a href="#">Travel.</a>
                  </li>
                  <li>
                    <a href="#">Photoshop</a>
                  </li>
                  <li>
                    <a href="#">Corel Draw</a>
                  </li>
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>--> <!-- End Blog Single Section -->

  </main><!-- End #main -->

{% include "footer.html" %}